*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}
:focus {
	border: #000 1px solid;
}
body input:focus:required:invalid,
body textarea:focus:required:invalid {
	border: red 1px solid;
}
body input:required:valid,
body textarea:required:valid {
	border: green 1px solid;
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
}
a {
	color: #fff;
	transition: all .25s;
}
.header-topline {
	background-color: #43484C;
	color: #fff;
}
.top-links {
	font-size: 20px;
	float: left;
	padding: 5px;
}
.top-links-show {
	float: left;
}
.top-links a {
	text-decoration: underline;
}
.top-links a:hover {
	text-decoration: none;
}
.soc-buttons {
	float: right;
	display: grid;
	grid-auto-flow: column;
	grid-column-gap: 0;
}
.soc-button a {
	color: #fff;
	font-size: 32px;
	padding: 7px;
}
.soc-button {
	display: inline-block;
}
.soc-button a {
	display: block;
}
.soc-button a:hover {
	background-color: #869098;
}
.top-header {
	background-color: #4AAAD2;
}
.logo {
	display: block;
	padding: 10px;
	font-size: 46px;
	text-align: center;
	font-family: KaushanScript;
}
.main-menu {
	color: #fff;
	background-color: #1a7196;
	text-transform: uppercase;
}
.main-menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: left;
	display: grid;
	grid-auto-flow: column;
	grid-column-gap: 0;
}
.top-contacts {
	float: right;
}
.top-contacts div {
	display: inline-block;
}
.main-menu ul>li {
	display: inline-block;
}
.main-menu a {
	padding: 15px 10px;
	display: inline-block;
}
.main-menu a:hover {
	background-color: #4AAAD2;
}
h1 {
	color: #fff;
	text-align: center;
	font-family: RobotoLight;
}
.slider-container {
	display: block;
	max-width: 100%
}
.swiper-container img{
	height: 300px;
	display: block;
	width: 100%;
	object-fit: cover; 
}
.order {
	background-color: #eee;
	padding: 25px 0;
}
.sell-desc {
	font-size: 22px;
	vertical-align: middle;
	display: block;
	padding-top: 5px;
	text-align: center;
}
.button {
	display: block;
	border: none;
	background-color: #2bc6a4;
	padding: 10px 20px;
	border-radius: 7px;
	text-transform: uppercase;
}
a.button {
	display: table;
}
.button:hover {
	background-color: #6df5d7;
}
.button:active {
	background-color: #1d8870;
}

.sell-right .button {
	float: right;
}

.hidden {
	display: none;
}
.pop-form h3 {
	margin: 10px auto 15px;
	text-align: center;
	font-weight: normal;
	text-transform: uppercase;
}
.pop-form input[type="text"] {
	display: block;
	width: 90%;
	line-height: 24px;
	margin: 0 auto 12px;
	border: #999 1px solid;
}
.pop-form .button {
	margin: 15px auto 0;
}
.blog-item a {
	color: #4AAAD2;
	text-decoration: underline;
}
.blog-item a:hover {
	text-decoration: none;
}
.blog-item img {
	width: 100%;
	display: block;
	object-fit: cover; 
	max-height: 400px;
}
.blog-item {
	margin: 15px 0;
}
.table-of-contents {
	background-color: #eee;
	border-radius: 10px;
	padding: 2px 0;
	color: #fff;
	margin: 30px 0 0;
}