*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
}
a {
	color: #fff;
	transition: all .25s;
}
.header-topline {
	background-color: #43484C;
	color: #fff;
}
.top-links {
	font-size: 20px;
	float: left;
	padding: 5px;
}
.top-links-show {
	float: left;
}
.top-links a {
	text-decoration: underline;
}
.top-links a:hover {
	text-decoration: none;
}
.soc-buttons {
	float: right;
	display: grid;
	grid-auto-flow: column;
	grid-column-gap: 0;
}
.soc-button a {
	color: #fff;
	font-size: 32px;
	padding: 7px;
}
.soc-button {
	display: inline-block;
}
.soc-button a {
	display: block;
}
.soc-button a:hover {
	background-color: #869098;
}
.top-header {
	background-color: #4AAAD2;
}
.logo {
	display: block;
	padding: 7px;
	font-size: 23px;
	text-align: center;
	font-family: KaushanScript;
}
.main-menu {
	color: #fff;
	background-color: #1a7196;
	text-transform: uppercase;
}
.main-menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: left;
	display: grid;
	grid-auto-flow: column;
	grid-column-gap: 0;
}
.top-contacts {
	float: right;
}
.top-contacts div {
	display: inline-block;
}
.main-menu ul>li {
	display: inline-block;
}
.main-menu a {
	padding: 15px 10px;
	display: inline-block;
}
.main-menu a:hover {
	background-color: #4AAAD2;
}
h1 {
	color: #fff;
	text-align: center;
	font-family: RobotoLight;
}